.detail_container {
  height: 100%;
  width: 62vw;
  justify-self: center;
  background: white;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.todo_item_text {
  color: var(--slate800);
  padding-left: 15px;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
}

.todo_item {
  display: flex;
  border: 2px solid var(--slate900);
  border-radius: 27px;
  margin: 5px 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5px;
  margin-top: 1rem;
  width: 80%;
  place-self: center;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.done {
  background-color: var(--violet100);
}

.info_container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.image_container {
  position: relative;
  width: 32%;
  background: var(--slate50);
  border: 2px dotted var(--slate300);
  border-radius: 24px;
  margin: 0 1rem 0 0;
  height: 311px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    width: 90%;
    margin: 0 0 1rem 0;
  }
}

.memo_container {
  width: 50%;
  background-image: url("/images/img/memo/memo.svg");
  height: 311px;
  border-radius: 24px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  padding: 20px;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.addimg {
  width: 64px;
  height: 64px;
  align-self: center;
  text-align: center;

  @media (max-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}

.img {
  width: 100%;
  height: 100%;
}

.img_button {
  width: 50px;
  height: 50px;
  margin: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;

  @media (max-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}

.memo_title {
  font-size: 16px;
  color: var(--amber800);
  text-align: center;
  font-weight: bold;
  line-height: 18.16px;
}

.memo_content {
  align-content: center;
  height: 90%;
  background: none;
  border: none;
  outline: none;
}

.button_wrapper {
  width: 32%;
  display: flex;
  margin-right: 9rem;
  margin-top: 1rem;
  float: right;
  @media (max-width: 1200px) {
    width: 90%;
    margin: 0 0 1rem 0;
    float: none;
    justify-content: center;
  }
}

.button {
  margin: 1rem 0.5rem;
  cursor: pointer;
}
