@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url("/fonts/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url("/fonts/NanumSquareB.ttf") format("truetype");
}
* {
  font-family: NanumSquare;
}
